@import "tailwindcss";
body {
  color: #2a2b3f !important;
  font-family: "Chirp";
  font-size: 16px;
  background-color: #000000;
}
p:not(:last-of-type) {
  @apply mb-[15px];
}

.container {
  @apply mx-auto !px-[30px];
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Chirp";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Chirp-400.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Chirp";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Chirp-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Chirp";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Chirp-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Chirp";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/Chirp-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background: black !important;
  -webkit-box-shadow: 0 0 0 30px #000000 inset !important; /* Example: black background */
  box-shadow: 0 0 0 30px #000000 inset !important; /* For other browsers if needed */
  color: #fff;
}
